.logo {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 95px;

    @include tablet {
        margin-right: 36px;
    }

    @include mobile{
        flex-grow: 1;
        margin-right: 0;
        svg{
            width: 30px;
            height: 30px;
        }
    }

    svg {
        color: $red;
    }

    &__text {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        color: $text-light;
        transition: var(--transition);

        @include tablet{
            font-size: 16px;
        }
    }

    @include hover {
        .logo__text {
            color: currentColor;
        }
        svg {
            color: currentColor;
        }
    }
}

.logo_footer {
    gap: 10px;
    margin-right: 9px;
    .logo__text {
        font-size: 16px;
    }
}
