.main__pricing {
    margin-top: 76px;

    @include mobile{
        margin-top: 48px;
    }
}

.bg{
    position: relative;
    z-index: 1;

    &::before{
        content: '';
        position: absolute;
        bottom: -967px;
        right: 0;
        width: 1005px;
        height: 1004px;
        z-index: -1;
        background: url(../img/footer/bg.svg) no-repeat;

        @include mobile{
            display: none;
        }
    }
}

.pricing {
    position: relative;
    z-index: 1;
    padding-top: 246px;
    padding-bottom: 100px;

    @include tablet{
        padding-top: 215px;
    }

    @include mobile{
        padding-top: 93px;
        padding-bottom: 48px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0px;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: $dark-blue;
        clip-path: polygon(0 20.5%, 100% 0, 100% 100%, 0% 100%);

        @include tablet{
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        }

        @include mobile{
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        }

        @include mobile-s{
            clip-path: polygon(0 5.5%, 100% 0, 100% 100%, 0% 100%);
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        top: -17px;
        width: 100%;
        height: 100%;
        background-color: $red;
        clip-path: polygon(0 20.5%, 100% 0, 100% 100%, 0% 100%);

        @include tablet{
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        }

        @include mobile{
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        }

        @include mobile-s{
            clip-path: polygon(0 5.5%, 100% 0, 100% 100%, 0% 100%);
        }
    }

    &__title {
        text-align: center;
        color: $text-light;
        margin-bottom: 30px;

        @include mobile{
            margin-bottom: 15px;
        }

        @include mobile-s{
            text-align: left;
        }
    }

    &__text {
        font-size: 18px;
        text-align: center;
        margin-bottom: 78px;
        p {
            margin: 0 auto;
            max-width: 650px;
        }

        @include mobile{
            font-size: 14px;
            margin-bottom: 49px;
        }

        @include mobile-s{
            text-align: left;
        }
    }

    &__list {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        column-gap: 50px;

        @include desktop{
            column-gap: 20px;
            scroll-snap-type: x mandatory;
            // scroll-padding: 50%;
            overflow-x: auto;
            width: 100vw;
        }
    }

    &__item {
        min-width: 340px;
        border-radius: 30px;
        box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
        background: #0f1f4b;
        text-align: center;
        padding-top: 45px;
        padding-bottom: 68px;

        @include desktop{
            scroll-snap-stop: always;
            scroll-snap-align: center;
            &:last-child{
                margin-right: 40px;
            }
        }

        @include mobile{
            min-width: 280px;
            padding-top: 31px;
            padding-bottom: 47px;
        }

        &-title {
            color: $text-light;
            margin-bottom: 5px;

            @include mobile{
                margin-bottom: 2px;
            }
        }

        &-text {
            font-size: 18px;
            margin-bottom: 37px;

            @include mobile{
                font-size: 13px;
                margin-bottom: 30px;
            }
        }

        &-line {
            display: inline-block;
            width: 220px;
            height: 1px;
            background: #2a407c;
            margin-bottom: 19px;

            @include mobile{
                margin-bottom: 16px;
            }
        }

        &-price {
            font-weight: 700;
            font-size: 30px;
            line-height: 1.2;
            color: $text-light;
            span {
                font-size: 60px;
            }

            @include mobile{
                line-height: 1.1;
            }
        }

        &-subtitle {
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 40px;

            @include mobile{
                font-size: 13px;
                margin-bottom: 32px;
            }
        }

        &-btn {
            @include btn(#2a407c, transparent, 68px, $text-light, 16px, 15px, 80px);

            @include hover{
                @include btn(transparent, #2a407c, 68px, $text-light, 16px, 15px, 80px);
            }
        }
    }

    &__item_accent {
        box-shadow: 0 18px 50px -15px #060f28;
        background: $text-light;

        .pricing__item-title,
        .pricing__item-price{
            color: $dark-blue;
        }

        .pricing__item-btn{
            @include btn($red, $red, 68px, $text-light, 16px, 15px, 80px);

            @include hover{
                @include btn($red, transparent, 68px, $red, 16px, 15px, 80px);
            }
        }
    }
}
