:root {
    --font-family-base: "Roboto", sans-serif;

    --container-width: 1180px;
    --container-padding-x: 20px;

    --transition: 0.2s;
}


$red: #ef2a82;
$blue: #0088f0;
$chart-lines: #eeeef6;
$text-secondary: #8794ba;
$text-light: #fff;
$backgraund:#f8f9ff;
$border: #465b95;
$dark-blue: #172755;